<p>career works!
  Sulajh is comprehensive Law Chamber situated in the heart of Lucknow.

We at Sulajh are delighted to welcome young and exceptional professionals who wish to associate with our firm. To learn more about available opportunities of associating with our Firm, please write to us at careers@risis.in



INTERNSHIP

Sulajh offers internships round the year to the students pursuing Law. An internship with sulajh is a great opportunity to acquire practical work experience in your field of study while gaining a better understanding towards law.  Kindly send your internship applications at careers@risis.in. All applications are reviewed by an internal committee.

</p>

